# file options
--exclude Pods

# rules with format options

--enable braces
  --allman false

--enable elseOnSameLine
  --elseposition same-line

--enable fileHeader
  --header "//\n// Copyright Amazon.com Inc. or its affiliates.\n// All Rights Reserved.\n//\n// SPDX-License-Identifier: Apache-2.0\n//"

--disable hoistPatternLet

--disable indent
  --indent 4
  --indentcase false
  --xcodeindentation disabled

--enable linebreaks
  --linebreaks lf

--enable numberFormatting
  --binarygrouping none
  --decimalgrouping 3
  --exponentcase lowercase
  --exponentgrouping disabled
  --fractiongrouping disabled
  --hexgrouping none
  --hexliteralcase lowercase
  --octalgrouping none

--enable spaceAroundOperators
  --operatorfunc spaced

--enable redundantSelf
  --self init-only
  --selfrequired 

--enable semicolons
  --semicolons never

--disable sortedImports

--enable spaceAroundOperators
  --operatorfunc spaced

--enable trailingClosures
  --trailingclosures 

--disable trailingCommas

--enable trailingSpace
  --trimwhitespace always

--disable unusedArguments

--enable void
  --empty void

--enable wrapArguments
  --closingparen balanced
  --wraparguments before-first
  --wrapcollections before-first
  --wrapparameters before-first

# standalone rules
--disable andOperator
--enable anyObjectProtocol
--disable blankLinesAroundMark
--disable blankLinesAtEndOfScope
--disable blankLinesAtStartOfScope
--disable blankLinesBetweenScopes
--disable consecutiveBlankLines
--disable consecutiveSpaces
--disable duplicateImports
--disable emptyBraces
--enable isEmpty
--enable leadingDelimiters
--enable linebreakAtEndOfFile
--enable redundantBackticks
--enable redundantBreak
--enable redundantExtensionACL
--enable redundantFileprivate
--enable redundantGet
--disable redundantInit
--enable redundantLet
--enable redundantLetError
--enable redundantNilInit
--enable redundantObjc
--enable redundantParens
--enable redundantPattern
--enable redundantRawValues
--disable redundantReturn
--enable redundantVoidReturnType
--enable spaceAroundBraces
--enable spaceAroundBrackets
--enable spaceAroundComments
--enable spaceAroundGenerics
--enable spaceAroundParens
--disable spaceInsideBraces
--enable spaceInsideBrackets
--disable spaceInsideComments
--enable spaceInsideGenerics
--disable spaceInsideParens
--disable specifiers
--enable strongOutlets
--enable strongifiedSelf
--disable todos
--enable typeSugar
--disable wrapMultilineStatementBraces
--enable yodaConditions
